/*1. 文字属性*/
/*		1. font-family*/
/*		2. font-size*/
/*		3. font-weight*/
/*		4. color*/
/*			1. rgb(255, 255, 255)*/
/*			2. #f00*/
/*			3. red*/
/*			4. rgba()*/
/*2. 文本属性*/
/*		1. text-align*/
/*		2. text-decoration*/
/*3. 背景属性*/
/*		1. background-color*/
/*		2. background-image*/
/*4. 边框属性*/
/*		1. border*/
/*		2. border-radius  --> 变圆*/
/*5. display属性*/
/*		1. inline*/
/*		2. block*/
/*		3. inline-block*/
/*		4. none (隐藏)*/

/*CSS属性相关*/

/*宽和高*/
/*width属性可以为元素设置宽度。*/
/*height属性可以为元素设置高度。*/
/*块级标签才能设置宽度，内联标签的宽度由内容来决定。*/
/*注意:块级标签默认宽度是浏览器宽度,并且可以改变,*/
/*而内联标签的宽度只能是内容的宽度,内容多大宽度就有多大,不能用样式改变*/

/*字体属性*/
/*文字字体*/
/*font-family可以把多个字体名称作为一个“回退”系统来保存。如果浏览器不支持第一个字体，则会尝试下一个。浏览器会使用它可识别的第一个值。*/
/*和python寻找模块的路径优先级问题相似*/
body {
    font-family: "Microsoft Yahei", "微软雅黑", "Arial", sans-serif
}

/*字体大小*/
p {
    font-size: 14px;
}

/*字重（粗细） */
/*font-weight用来设置字体的字重（粗细）。*/
/*normal	默认值，标准粗细*/
/*bold	    粗体*/
/*bolder	更粗*/
/*lighter	更细*/
/*100~900	设置具体粗细，400等同于normal，而700等同于bold*/
/*inherit	继承父元素字体的粗细值*/

/*文本颜色*/
/*颜色属性被用来设置文字的颜色。*/
/*颜色是通过CSS最经常的指定：*/
/*十六进制值 - 如: ＃FF0000*/
/*一个RGB值 - 如: RGB(255,0,0)*/
/*颜色的名称 - 如:  red*/
/*还有rgba(255,0,0,0.3)，第四个值为alpha, 指定了色彩的透明度/不透明度，它的范围为0.0到1.0之间。*/


/*文字属性*/
/*文字对齐*/
/*text-align 属性规定元素中的文本的水平对齐方式。*/
/*left	    左边对齐 默认值*/
/*right	    右对齐*/
/*center	居中对齐*/
/*justify	两端对齐*/

/*文字装饰*/
/*text-decoration 属性用来给文字添加特殊效果。*/
/*none	        默认。定义标准的文本。*/
/*underline	    定义文本下的一条线。*/
/*overline	    定义文本上的一条线。*/
/*line-through	定义穿过文本下的一条线。*/
/*inherit	    继承父元素的text-decoration属性的值。*/

/*常用的为去掉a标签默认的自划线：*/
a {
    text-decoration: none;
}

/*首行缩进*/
/*将段落的第一行缩进 32像素：*/
p {
    text-indent: 32px;
}

/*背景属性*/
/*背景颜色*/
/*background-color: red;*/
/*背景图片*/
/*background-image: url('1.jpg');*/
/*
 背景重复
 repeat(默认):背景图片平铺排满整个网页
 repeat-x：背景图片只在水平方向上平铺
 repeat-y：背景图片只在垂直方向上平铺
 no-repeat：背景图片不平铺
*/
/*background-repeat: no-repeat; */
/*背景位置*/
/*background-position: right top;*/
/*background-position: 200px 200px;*/
/*background-attachment: fixed;*/
/*把背景图固定住,当遇到该背景图时,该图就会不动*/


/*关于背景图片的总结!!!!!:*/
/*如果图片大小比背景给定的空间小:图片就会重复铺满背景的空间;*/
/*如果图片大小比背景给定的空间大:*/
/*此时涉及到用坐标系表示background-position用法,*/
/*用x坐标和y坐标来移动图片的位置来显示背景中图片位置*/

/*支持简写：*/
/*background:#ffffff url('1.png') no-repeat right top;*/

/*边框*/
/*边框属性 */
/*border-width*/
/*border-style*/
/*border-color*/
#i1 {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

通常使用简写方式：
#i1 {
    border: 2px solid red;
}

/*边框样式 border-style*/
/*none	    无边框。*/
/*dotted	点状虚线边框。*/
/*dashed	矩形虚线边框。*/
/*solid	    实线边框。*/

/*除了可以统一设置边框外还可以单独为某一个边框设置样式，如下所示：*/
#i1 {
    border-top-style: dotted;
    border-top-color: red;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: none;
}

/*border-radius*/
/*用这个属性能实现圆角边框的效果。*/
/*将border-radius设置为长或高的一半即可得到一个圆形。*/

/*display属性*/
/*用于控制HTML元素的显示效果。*/
/*display:"none"	HTML文档中元素存在，但是在浏览器中不显示。一般用于配合JavaScript代码使用。*/
/*display:"block"	默认占满整个页面宽度，如果设置了指定宽度，则会用margin填充剩下的部分。*/
/*display:"inline"	按行内元素显示，此时再设置元素的width、height、margin-top、margin-bottom和float属性都不会有什么影响。*/
/*display:"inline-block"	使元素同时具有行内元素和块级元素的特点。*/

/*常见的,横向的列表与display:"inline搭配使用*/

/*display:"none"与visibility:hidden的区别：*/
/*visibility:hidden: 可以隐藏某个元素，但隐藏的元素仍需占用与未隐藏之前一样的空间。也就是说，该元素虽然被隐藏了，但仍然会影响布局。*/
/*display:none: 可以隐藏某个元素，且隐藏的元素不会占用任何空间。也就是说，该元素不但被隐藏了，而且该元素原本占用的空间也会从页面布局中消失。*/

/*给内联标签设置边框!!!!*/
/*原因:如果给ul,li设置设置边框,而为了增加内填充,边框会变更大,这样就与内容大小不符合了*/
