/*HTML是骨架,CSS是装饰*/
/*		<标签1  样式=xxx >*/
/*		<标签2  样式=xxx>*/
/*		<标签3  样式=xxx>*/
/*		1. 重复的样式*/
/*		2. 文档内容和样式的解耦*/

/*		--> CSS是什么? 层叠 样式 表*/
/*		--> CSS如何引入?*/
/*			1. 直接写在标签里面 style="样式1;样式2;"*/
/*			2. 在head中通过style标签定义*/
/*			3. 把样式单独写在css文件中,然后在html文件中通过link标签导入*/

/*		--> CSS语法*/
/*			选择器 {样式1;样式2}*/

/*		--> CSS查找标签的方式(选择器)*/
/*			1. 基本选择器*/
/*				1. 标签选择器     适用于 批量的\统一\默认的样式*/
/*				2. ID选择器       适用于 给特定标签设置特定样式*/
/*				3. 类选择器       适用于 给某一些标签设置相同的样式*/
/*			2. 通用选择器*/
/*				1. * */
/*			3. 组合选择器*/
/*				1. 后代选择器*/
/*				2. 儿子选择器*/
/*				3. 毗邻选择器*/
/*				4. 弟弟选择器*/
/*			4. 属性选择器*/
/*				1. [s9]*/
/*				2. [s9="hao"]*/
/*			5. 分组和嵌套*/
/*				1. div,p*/
/*				2. #d1>p    嵌套就是不仅仅用元素标签来表示,也可以用ID,不同选择器混合使用的意思*/

/*		--> 样式文件优先级*/
/*			1. 内联样式(直接在标签里面写style) 优先级最高*/
/*			2.选择器都一样的情况下,谁靠近标签谁就生效*/
/*			3. 选择器不同时 计算权重来判断*/

/*6.伪类选择器*/
/*7.伪元素选择器*/
/*          这两个都是通过冒号形式*/

/*特殊写法*/
/*div#d1(101)/div.c1(11)/div .c1*/
/*注意:当两个标签没有特殊符号时,表示的是找同一个标签*/
/*div#d1表示找一个div标签,并且它的id是d1*/
/*div .c1表示找一个类名是c1的标签*/

/*div .c1中间有空格或者特殊符号表示找后面的标签*/
div .c1 {
    color: #FF0000;
}

/*中间没有特殊符号,是紧挨着的,表示找的是同一个标签*/
div.c1 {
    color: #0000FF;
}

/*如下列举了一般选择器的权重:*/
/*内敛样式权重为1000*/
/*ID选择器的权重为100*/
/*类选择器的权重为10*/
/*元素选择器的权重为1*/
/*注意:权重计算用不进位,即使是10个类选择选择权相加,也不会比一个ID选择器权重高*/

/*除此之外还可以通过添加 !important方式来强制让样式生效，但并不推荐使用。因为如果过多的使用!important会使样式文件混乱不易维护。*/
/*万不得已可以使用!important*/