/*选择器*/
/*基本选择器*/
/*元素选择器*/
p {
    color: red;
    font-size: 22px;
}
h1 {
    color: aqua;
}

/*id选择器*/
#a1{
    color: black;
}

/*类选择器*/
/*一般使用最多*/
.c1{
    font-size: 100px;
}
.c2{
    color: brown;
}

/*通用选择器*/
/*整个网站字体风格，背景颜色*/
*{

}


